wheel
altgraph
asgiref
certifi
chardet
Django
django-cors-headers
#django-filters
django-grappelli
djangorestframework
EasyProcess
idna
lxml
macholib
natsort
Pillow
psutil
psycopg2
pytz
PyVirtualDisplay
requests
requests[socks]
selenium
sentry-sdk
six
sqlparse
urllib3
xmltodict
ffmpeg-python
python_rucaptcha
django_bootstrap_breadcrumbs
django_extensions
django-debug-toolbar
sentry_sdk
django_db_logger
ffprobe