altgraph==0.17
asgiref==3.3.1
certifi==2019.11.28
chardet==3.0.4
Django==3.1.5
django-cors-headers==3.6.0
django-grappelli==2.14.3
djangorestframework==3.12.2
EasyProcess==0.3
idna==2.8
lxml==4.6.2
macholib==1.14
natsort==7.1.0
Pillow==8.1.0
psutil==5.8.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pytz==2020.5
PyVirtualDisplay==2.0
requests==2.11.1
requests[socks]
selenium==3.141.0
sentry-sdk==0.19.5
six==1.14.0
sqlparse==0.4.1
urllib3==1.25.8
xmltodict==0.12.0
ffmpeg-python==0.2.0
django_bootstrap_breadcrumbs
django_extensions
django-debug-toolbar==3.2
django_db_logger
ffprobe==0.5
ffprobe-python==1.0.3